  body{
    background-color: rgb(0, 0, 0);
  }

  .header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 40px;
    flex-wrap: wrap; 
  }

 
















  

  
  
  