.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.link {
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: auto;
  font-size: 30px;

}



.movie .movie-title {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
}

.movie .movie-image {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.movie .movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(43, 36, 30);
  max-width: 600px;
  text-align: center;
  text-wrap: wrap;
  font-weight: 600 ;
  font-size: 1.2rem;
 
}

 .Fav-link-D{
  display: flex;
  text-decoration: none;
  text-transform: none;
  color: black;
  margin-right: auto;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .movie .movie-detail {
    text-align: left;
  }
}
